<header>
  <div class="bg_rgba">
    <h1>Awaji_Place <img class="top-image" src="/assets/awaji.png">Blog</h1>
    <p>Introducing the best spots.</p>
    <div class="scrolldown"><span>Scroll</span></div>
  </div>
</header>