* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
//   font-family: 'Caveat', cursive;
//   font-family: 'Dosis', sans-serif;
   font-family: 'Noto Sans JP', sans-serif;
}
a {
  color: rgb(76, 152, 245);
  text-decoration: none;
  background-color: transparent;
}
li {
  list-style: none;
}
p,ul {
  margin: 0;
}

.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0;
  margin-left: 0;
}