.review-content {
  margin-top: 10px;
}
.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;
}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}
.content {
  margin-left: 30%;
}
.average-score {
  display: flex;
}
.average-score-display {
  font-size: 16px;
}
.rating-box .ratings .fa{
  font-size: 30px;
  color:#ffcc00;
  cursor: pointer;
}

.main-rating {
  display: flex;
  margin-left: 38%;
}
.review-form {
  margin-left: 0%;
}

.rating-value-display {
  font-size: 20px;
}
.reviw-title {
  margin-top: 20px;
  font-weight: 600;
  text-align: center;
}
.reviw-titles {
  margin-top: 20px;
  font-weight: 600;
  text-align: center;
  font-size: 30px;
  font-family: 'Caveat', cursive;
}
.review-image {
  text-align: center;
  margin: 20px 25%;
}
.button {
  padding: 5px;
  border-radius: 5%;
}
.textarea {
  padding: 5px 2px 5px 2px;
}
.card-content {
  margin-left: 15%;
  margin-bottom: 20px;
}
table {
}